.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 0%, 0.3);
    z-index: 9;
}

.overlay > .alert-box {
    width: 70%;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 140px;
}
.dialogue-head {
    background-color: #444;
    padding: 10px 8px;
    font-size: 1.4rem;
}
.dialogue-body {
    padding: 20px 8px;
    font-size: 1.2rem;
}
.dialogue-footer {
    padding: 10px 0;
    background-color: #444;
    text-align: end;
}
.dialogue-footer > button {
    background-color:#6495ED;
    padding:10px 20px;
}


.overlay.alert-user {
    display: block;
}